<footer class="site-footer">
  <div class="footer-inner">
    <div class="col">
      <h4>Customer Care</h4>
      <ul>
        <li><a href="/pages/shipping">Shipping</a></li>
        <li><a href="/pages/returns">Returns</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Follow</h4>
      <ul>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">© {{ 'now' | date: "%Y" }} {{ shop.name }}</div>
</footer>
