<div id="cart-drawer" class="cart-drawer" aria-hidden="true">
  <div class="drawer-header">
    <h4>Your cart</h4>
    <button class="drawer-close">Close</button>
  </div>
  <div class="drawer-body">
    <div id="cart-items"></div>
  </div>
  <div class="drawer-footer">
    <a href="/cart" class="btn">View cart</a>
    <a href="/checkout" class="btn primary">Checkout</a>
  </div>
</div>
